
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/CloudPC/.vs/*
library/CloudPC/CloudPC/bin/*
library/CloudPC/CloudPC/obj/*

# ignore PowerShell Studio MetaData
CloudPC/CloudPC.psproj
CloudPC/CloudPC.psproj.bak
CloudPC/CloudPC.psprojs
CloudPC/CloudPC.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*